@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body{
    background-color: #000000;
}

p{
    color:#ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-family: cursive;
    font-style: inherit;
    font-weight: 400;
    color:#ffff00;
    text-align: center;
}
span{
    color: #ffff00;
    font-family: fantasy;
}