body{
    background-color: #000000;
}
.movie-container{
    width: 100%!important;
    margin-left: 50px;
    padding: 20px;
    background-color:#000000; 
}
.movie-paper{
    margin: 50px;
    padding: 20px;
    background-color:#000000 !important; 
}
.movie-paper img {
    height: 450px;
    object-fit: cover;
    object-position: center top;
  
} 
.movie-paper img:hover {
    height: 450px;
    object-fit: cover;
    object-position: center top;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
     transform: scale(1.2);
     transition: 1s;
} 
.movie-paper h1 {
    text-align: center;
}

.MuiPaper-root  {
    background-color: darkgoldenrod;
} 


p{
    color: #ffffff;
}
h3{
    color: darkgoldenrod;
}

a{
    display: flex;
    justify-content: center;
}